
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    align-content:space-around;
    background-color:#202830;
    color:#0eff8f;
    display:grid;
    justify-content:center;
}

canvas {
  background-color:#cc00ff;
}